# Google AI
GOOGLE_AI_API_KEY=
GEMINI_MODEL=
EMBEDDING_MODEL=

# Number of documents to retrieve for RAG
K_RAG=

# Import limits
IMPORT_LIMIT_STORIES=
IMPORT_LIMIT_POSTS=
IMPORT_LIMIT_CONTENTS_PER_HIGHLIGHT=